.home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.c {
    display: flex;
    align-items: center;

    padding: 10px;
}

.d {
    display: flex;
    align-items: center;
}

/* --- */
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.text-sm {
    font-size: 16px;
}
