.header {
    height: 5rem;
    background-color: #000000;

    display: flex;
    align-items: center;

    justify-content: space-between;

    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
